{% extends 'LayoutBack.html.twig' %}

{% block title %}Hello {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="animated fadeIn mt-50">
        <br>

    <div id="app">
        <search iduser="{{ users.id }}" pseudo="{{ users.pseudo }}"></search>
    </div>
    </div></div>

{% endblock %}

