{% extends 'LayoutBack.html.twig' %}

{% block title %}Hello {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="animated fadeIn mt-50">
        <br>

    <div id="app">
        <search iduser="{{ users.id }}" pseudo="{{ users.pseudo }}"></search>
    </div>

            <div class="row">
                <div class="col-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        {% for d in films %}
                        <a class="list-group-item list-group-item-action {% if loop.first %}active{% endif %}" id="list-home-list" data-toggle="list" href="#list-home-{{ loop.index }}" role="tab" aria-controls="home">  {{   d.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-3">
                    <div class="tab-content" id="nav-tabContent">
                        {% for d in films %}

                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="list-home-{{ loop.index }}" role="tabpanel" aria-labelledby="list-home-list">
                            <h5 class="card-title" >{{d.Title}}</h5>
                            <p class="card-text">id: {{d.imdbID}}</p>
                            <p  class="card-text">Année: {{d.Year}}</p>
                            <p  class="card-text">Type: {{d.Type}}</p>
                            <img class="card-img-top" src="{{ d.Poster }}" alt="{{ d.title }}" height="340" width="240">
                            <div class="card-footer">
                                <a class="btn btn-danger btn-lg btn-block" href="{{ path('admin_del',{'id': users.id ,'idf': d.id}) }}">Supprimé</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>




        </div>

    </div>

    </div></div>

{% endblock %}

