{% extends 'LayoutBack.html.twig' %}

{% block title %}Hello {% endblock %}

{% block content %}
    <div class="col-lg-12 " id="app">
        <div class="card mt-80 animated fadeIn">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List des Utilisateurs
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                    <thead>
                    <th>#</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Date De Naissance</th>
                    <th>Date de Création</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td> {{ user.id }}</td>
                            <td> {{ user.pseudo }}</td>
                            <td> {{ user.email }}</td>
                            <td> {{ user.birthdate |date}}</td>

                            <td> {{ user.CreatedAt|date}}</td>
                            <td>
                                <a href="{{ path('admin_add',{id: user.id}) }}"><i class="fa fa-plus"></i></a>
                                <a href="{{ path('admin_edit',{id: user.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                    <div class="pull-right w-600"><swich fil={{ fitres }}></swich>    {% if countFilms is not null %} Le meilleur films est: {{ countFilms.title }}       {% endif %}</div>


                <modal></modal>
            </div>

        </div>
    </div>



{% endblock %}
