<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {# Header #}
    {% block header %}
        {#{% include 'Layout/nav.html.twig' %}#}
    {% endblock %}
    <div class="container-fluid" >
        <div class="row d-flex">
            {% block sidebar %}
                {% include 'Layout/_sidebar.html.twig' %}
            {% endblock %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}{% endblock %}
            </main>

        {% include 'Layout/_js_footer.html.twig' %}
        </div>
    </div>
    </body>
</html>
