<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/icons.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/swich.css') }}">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="app-body">
    {# Header #}
    {% block header %}
        {% include 'Layout/nav.html.twig' %}
    {% endblock %}

            {% block sidebar %}
                {% include 'Layout/_sidebar.html.twig' %}
            {% endblock %}

            <main class="main">
                {% block content %}{% endblock %}
            </main>

        {% include 'Layout/_js_footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
