<template>
    <!-- Modal -->
    <div>
        <b-btn v-b-modal.modal1 variant='primary'>Ajouter un Utilisateur</b-btn>

        <!-- Modal Component -->
        <b-modal id="modal1" title="Ajouter un Utilisateur" :lazy="true">
            <div v-if="lazy" class="text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
            <b-alert show variant="danger" v-if="alert">{{message}}</b-alert>
            <b-form @submit="onSubmit" @reset="onReset" v-if="!lazy">
                <b-form-group id="exampleInputGroup0"
                              label="Pseudo:"
                              label-for="exampleInput0"
                                                    >
                    <b-form-input id="exampleInput1"
                                  type="text"
                                  v-model="form.pseudo"
                                  required
                                  placeholder="Entrer votre pseudo">
                    </b-form-input>
                </b-form-group>
                <b-form-group id="exampleInputGroup1"
                              label="Email address:"
                              label-for="exampleInput1"
                              description="Nous ne partagerons jamais votre email avec quelqu'un d'autre.">
                    <b-form-input id="exampleInput1"
                                  type="email"
                                  v-model="form.email"
                                  required
                                  placeholder="Enter email">
                    </b-form-input>
                </b-form-group>
                <b-form-group id="exampleInputGroup2"
                              label="Date de naissance:"
                              label-for="exampleInput2">
                    <b-form-input id="exampleInput2"
                                  type="date"
                                  v-model="form.birthday"
                                  required
                                  placeholder="Entrer votre date de naissance">
                    </b-form-input>
                </b-form-group>


            </b-form>
            <div slot="modal-footer" >
                <b-button type="submit" variant="primary" @click="onSubmit">Submit</b-button>
                <b-button type="reset" variant="danger" @click="onReset">Reset</b-button>
            </div>
        </b-modal>
    </div>

</template>
<script>

    export default {
        data () {
            return {
                form: {
                    pseudo: '',
                    email: '',
                    birthday: '',
                },
                alert: false,
                message: '',
                lazy: false
            }
        },
        methods: {
            onSubmit (evt) {
                evt.preventDefault();
                let vm = this
                this.lazy =  true
                this.$http.post('/api/users',this.form)
                    .then(r => r.data)
                    .then(data => {
                        location.reload()
                    })
                    .catch(function (error) {
                        if (error.response) {
                            vm.lazy = false
                            // The request was made and the server responded with a status code
                            // that falls out of the range of 2xx
                            if(error.response.data.error.exception){
                                vm.alert = true
                                vm.message = error.response.data.error.exception[0].message
                            }
                            console.log('Error1', error.message);
                        } else if (error.request) {
                            // The request was made but no response was received
                            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                            // http.ClientRequest in node.js
                            console.log(error.request);
                        } else {
                            // Something happened in setting up the request that triggered an Error
                            console.log('Error', error.message);
                        }
                        console.log(error.config);
                    });
            },
            onReset (evt) {
                evt.preventDefault();
                /* Reset our form values */
                this.form.pseudo = '';
                this.form.email = '';
                this.form.birthday = null;

                /* Trick to reset/clear native browser form validation state */
                this.show = false;
                this.$nextTick(() => { this.show = true });
            }
        }

    }
</script>