<template>
    <div>
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Ajouter un films a {{ pseudo }}
                </div>
                <div class="card-body">
                    <form class="well form-search" id="search-by-title-form" @submit.prevent="onSubmit">
                        <fieldset>
                            <legend>By Title</legend>
                        </fieldset>
                        <div>
                            <label class="control-label" for="t">Title:</label>
                            <input type="text" id="t" name="t" class="input-small" v-model="title">
                            <button id="search-by-title-button" type="submit" class="btn-sm btn-primary">Search</button>
                            <button id="search-by-title-reset" type="reset" class="btn-sm" @click="onClear">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="row" v-if="data">
            <div class="col-6">
            <b-tabs pills card vertical nav-wrapper-class="w-50" >
                <b-tab title="d.Title"  v-for="d in  data.Search" :key="d.Title">
                    <div slot="title" > {{d.Title}}</div>
                    <h5 class="card-title" >{{d.Title}}</h5>
                    <p class="card-text">id: {{d.imdbID}}</p>
                    <p  class="card-text">Année: {{d.Year}}</p>
                    <p  class="card-text">Type: {{d.Type}}</p>
                    <img class="card-img-top" :src="d.Poster" :alt="d.title" height="340" width="240">
                    <div class="card-footer">
                    <button class="btn btn-success btn-lg btn-block" @click="onAdd(d)" >
                    <span v-if="isLoading"><i class='fa fa-circle-o-notch fa-spin'></i> Processing Order</span>
                    <span v-else>Ajouter films</span>
                    </button>
                    </div>
                </b-tab>

            </b-tabs>
                <br>

                <b-pagination size="md" :total-rows="itemCount" @change="currentPage" v-model="page" :per-page="10" v-show="data">
                </b-pagination>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
    props:['iduser','pseudo'],
    data (){
        return{
        title: '',
        data: '',
        id: this.iduser,
        isLoading: false,
        status: '',
        page: 1,
        itemCount: 1
        }
    },
    methods: {
        onSubmit () {

          this.$http.get('http://www.omdbapi.com',{
              params: {s: this.title,
            apikey:'b129ae23'}
          }).then(r =>  r.data)
              .then(data => {
                  delete data.Ratings
                  delete data.Metascore
                  this.data  = data
                  this.itemCount = parseInt(data.totalResults)
              })
        },
        onClear (){
            this.data = ''
            this.title = ''
        },
        onAdd (e){

            // la j'ai fait cours mais il faudrait rajouter Fosjs'
            this.isLoading = true
            let vm = this
            this.$http.post(`/api/users/films`,{
                id: this.id,
                title: e.Title,
                year: e.Year,
                poster: e.Poster,
                type: e.Type,
                imdbID: e.imdbID
            }).then(r => {
                location.href = 'http://localhost:1025/api/admin'
                // vm.isLoading = false
                // vm.status = true // or success
            })
        },
        currentPage (e) {
            this.data = ''

            this.$http.get('http://www.omdbapi.com',{
                params: {s: this.title,
                        page: e,
                        apikey:'b129ae23'}
            }).then(r =>  r.data)
                .then(data => {
                    delete data.Ratings
                    delete data.Metascore
                    this.data  = data
                    this.page = e
                })
        }
    }
    }
</script>