<template>
    <div>
        <ul class="tg-list pull-left">
            <p>Fitre utilisateur sans films:</p>  <li class="tg-list-item">
                <input class="tgl tgl-flip" id="cb5" type="checkbox"  v-model="filtre" @change="onFilter">
                <label class="tgl-btn" data-tg-off="Non" data-tg-on="Oui!" for="cb5"></label>
            </li>
        </ul>
    </div>

</template>
<script>
    export default {
    props: ['fil'],
    data (){
        return{
            filtre: false
        }
    },
    methods : {
        onFilter (e) {
            if (this.filtre){
                this.filtre = true
                location.href ='http://localhost:1025/api/admin?filter=true'
            }else{
                location.href = 'http://localhost:1025/api/admin'
            }
        }
    },
    mounted () {

        this.fil ? this.filtre = true: ''
    }
    }
</script>
